
.inf_trab{
    display: flex;
    width: 100%;
    
    .inf_container{
        

        .top{
            padding: 20px;
            display: flex;
            gap:  20px;

            .left{
                flex: 1;
                -webkit-box-shadow:2px 4px 10px 1px rgba(0,0,0,0.47);
                box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
                padding: 20px;
                position: relative;


                .editbutton{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    font-size: red;
                    background-color: #7551f818;
                    cursor: pointer;
                    border-radius: 0px 0px 0px 5px;
                }

                .item{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 200px;


                    .itemImg{
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details{

                        .itemtitle{
                            margin-bottom: 10px;
                            color: #555;
                            margin-top: 60px;
                        }

                        .detailItem{
                            margin-bottom: 10px;
                            font-size: 14px;

                            .itemKey{
                                font-weight: bold;
                                color: gray;
                                margin-right: 5px;
                            }

                            .itemValue{
                                font-weight: 300;
                                
                            }
                        }
                    }
                }
            }
        
            .right{
                flex: 2;
                
            }       
        }   
    }
    
    .titulo{
        font-size: 16px;
        color: rgb(79, 92, 170);
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .titulo_2{
        font-size: 16px;
        color: rgb(79, 81, 224);
        margin-bottom: 20px;
        margin-top: 50px;
    }
}   



