.navbar-brand{
    padding-left: 30px;
    padding-right: 30px;
    height: 70px;
    display:flex;
    align-items: center;
    font-size: 14px;
    background-color: #B0ABCB;
    margin-top: -28px;
    margin-left: -19px;
    margin-right: 0px;
}
.collapse,.navbar-collapse{
    padding-left: 90px;
    padding-right: 30px;
    height: 70px;
    display:flex;
    align-items: center;
    font-size: 14px;
    background-color: #B0ABCB;
    margin-top: -28px;
    margin-left: -19px;
    margin-right: -553px;

}